{% extends 'Base.html' %}   
{% block title %}
Basket
{% endblock title %}    
{% block body %}
<h1> User Basket </h1>
<h3> {{basket.user}}'s Basket</h3>
<p> created at : {{basket.created_time}}</p>
<br>
<h3> Total sum: {{total_sum}} </h3>
<h3>Products</h3>
{% for line in lines %}
<p> <b>{{line.product.title}} </b> </p>
<p> Price: {{line.product.price}} // Number of items :{{line.quantity}} </p>

<form method="POST" action="{% url 'basket:add'  %}">
    {% csrf_token %}
    <input type="hidden" name="product" value="{{ line.product.id }}" >
    <input type="hidden" name="quantity" value='1'>
    <input type="hidden" name="next" value="{{ request.build_absolute_uri }}">
    <input type="submit" value="Add" />
</form>

<form method="POST" action="{% url 'basket:remove'  %}">
    {% csrf_token %}
    <input type="hidden" name="product" value="{{ line.product.id }}" >
    <input type="hidden" name="next" value="{{ request.build_absolute_uri }}">
    <input type="submit" value="remove" />
</form>
{% endfor %}
<form method="POST" action="{% url 'basket:delete' %}">
    {% csrf_token %}
    <input type="submit" value="Delete basket">
</form>
<br>
<form method="get" action="{% url 'shipping:create' basket_id=basket.pk %}">
    <input type="submit" value="Proceed to cheackout">
</form>


{% endblock body %}